@using CarAlexCrud2000.Core.Aplication.ViewModels.Estatus
@model SaveEstatusViewModel
@{
    ViewData["Title"] = "Borrar estatus";
}

<div class="row">

    <div class="offset-3 col-6">

        <div class="card">

            <div class=" bg-danger card-header text-light">

                <h4>Estas seguro de que quieres eliminar el estatus con la descripcion de: @Model.Descripcion?</h4>

            </div>

            <div class="card-body">

                <form method="post" asp-controller="Estatus" asp-action="Delete">

                    <input type="hidden" asp-for="IdEstatus" />

    
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Estatus" asp-action="Index" class="btn btn-outline-warning">Cancelar</a>

                    </form>

            </div>


        </div>

    </div>

</div>
