@using CarAlexCrud2000.Core.Aplication.ViewModels.Estatus
@model List<EstatusViewModel>
@{
    ViewData["Title"] = "Estatus";
}

<div class="container-fluid">

    <div class="row mb-2">
        <div class="offset-9 col-3">

            <a asp-controller="Estatus" asp-action="Create" class="btn btn-outline-primary">Insertar nuevo estatus</a>

        </div>

    </div>

    <div class="row">
        @foreach (EstatusViewModel item in Model)
        {

            @if (Model.Count == 0 || Model == null)
            {

                <h2 class="text-dark">No hay estatus guardados</h2>

            }
            else
            {

                <div class="col-md-4">
                    <div class="card  mb-4 box-shadow">
                  
                        <div class="card-body">
                            <h4 class="text-success fm-bold">Descripcion:@item.Descripcion</h4>
                          
                            <div class="d-flex aling-items-center justify-content-between">

                                <div class="btn-group">

                                    <a asp-controller="Estatus" asp-action="Edit" asp-route-Id="@item.IdEstatus" class="btn btn-outline-warning btn-sm">Editar</a>
                                    <a asp-controller="Estatus" asp-action="Delete" asp-route-Id="@item.IdEstatus" class="btn btn-outline-danger btn-sm mx-2">Eliminar</a>

                             

                        </div>
                          </div>
                                <h4 class="fm-bold">La cantidad de autos con este estatus son: @item.CantidadAutosEst</h4>
                            </div>
                    </div>
                </div>
            }

        }


    </div>


</div>